
{% extends "base.html"%}
{% block body%}



<div class="row">
<div class="col">
<h1>{{object.title|title}}</h1> <br/>
<h3>{{object.timestamp|timesince}}</h3>
{{object.description|linebreaks}} <br>

{% if object.image %}
<img src="{{object.image.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">

{% endif %}
</div>
<div class="col-12 col-md-6">
{% include "products/snippets/update-cart.html" with product=object cart=cart %}

</div>  
</div>
{% endblock %}